html, body{
    font-family: 'Courier New', Courier, monospace;
}


.imgAnimeDetails{
    grid-area: img;
    margin: 1% 1% 1% 1%;
    border: 20px solid white;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.nameAnimeDetails{
    grid-area: name;
    font-size: 400%;
}

.synopsisAnimeDetails{
    grid-area: synopsis;
    border: 2px solid black;
    padding: 3% 3% 3% 3%;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgb(0, 0, 0) ;
    width: 80%;

}

.statusAnimeDetails{
    grid-area: status;
    width: 7%;
    height: 60px;
    margin-left: 1%;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    padding-top: 1%;
    font-size: 150%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}


.typeAnimeDetails{
    grid-area: status;
    margin-left: 10%;
    border: 1px solid black;
    width: 13%;
    text-align: center;
    padding-top: 1%;
    border-radius: 50%;
    background-color: steelblue;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.favoritoAnime{
    grid-area: favorito;
    border-radius: 5%;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    width: 20%;
    height: 60px;
    background-color: rgb(85, 144, 192);
    color: yellow;
}


#scoreAnime{
    grid-area: votacion;
    width: 8%;
    height: 70px;
    border: 3px solid black;
    border-radius: 15px;
    text-align-last: center;
    font-size: 30pt;   
    background-color: steelblue;
    color: white;
    box-shadow: 5px 5px 5px rgb(186, 183, 230);

}

.votarAnime{
    grid-area: votacion;
    width: 8%;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px;
    
    font-size: 15pt;   
    background-color: white;
    margin-right: 100px;
    margin-left: 10%;
}
.votarAnime:hover{
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
#anime{
    padding: 5% 5% 5% 5%;
    display: grid;
    width: 80%;
    grid-template-areas: 
        'img name name '
        'img synopsis synopsis'
        'status status status'
        'favorito favorito favorito'
        'votacion votacion votacion';
    grid-gap: 10px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


#comentarios textarea{
    width: 90%;
    height: 100px;
    resize: none;

}
#comentariosUsuarios{
    width: 280%;
    height: 500px;
    border: 1px solid steelblue;
    box-shadow: 5px 5px 5px steelblue;
    margin: 5%;
}
#comentarios button{
    margin: 2%;
    border: 2px solid black;
    border-radius: 15px;
    width: 40%;
    height: 5%;
    background-color: white;
}
#comentarios button:hover{
    box-shadow: 5px 5px 5px steelblue;

}

