/*Animes de temporada-Slither*/
paginado span{
    width: 100%;
    
}
.carousel-inner img{
   width: 100%;
}



paginado{
    display: grid;
    grid-gap: 20px;
    padding: 50px;
   
}

paginado #temporada{
 grid-column: 1 / 2;
 grid-row: 1;
 width: 70% !important;
 height: 70% !important;
 margin-left: 0%;
}
paginado h1{
    text-align: center;
    font-size: 150%;
}
#temporada #myCarousel{
    width: 140%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

paginado #topAnime{
 border: 2px solid steelblue;
 background-color: lightskyblue;
 grid-column: 2 / 2;
 grid-row: 1;
 
}
#lista div, #aniAñadidos div{
    width: 100%;
    text-align: center;
}

#lista img{
    width: 60%;
    height: 160px;
    margin: 5% 5% 5% 5%;
}

#aniAñadidos img{
    width: 60%;
    height: 160px;
    margin: 5% 5% 5% 5%;
}

#lista, #aniAñadidos{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-gap: 1%;
}
#topAnime a, #aniAñadidos a{
    text-decoration:none;
    background-color: white;
    color: black;
    margin: 5% 5% 5% 5%;
    border: 2px solid black;
    border-radius: 5%;
}

#topAnime a:hover, #aniAñadidos a:hover{
    text-decoration:none;
    background-color: white;
    color: black;
    margin: 5% 5% 5% 5%;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 5%;
}



paginado #ultimosEpisodios{
    grid-column: 1 / 2;
    grid-row: 2;
}

#ultimosEpisodios ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
  }
  
#ultimosEpisodios  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
#ultimosEpisodios li a:hover {
    background-color: #555;
    color: white;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    
  }


paginado #animesEsperados{
    border: 2px solid steelblue;
    background-color: lightskyblue;
    grid-column: 2 / 2;
    grid-row: 2;
}

